{
    CFBundleExecutable = "inPulse";
    CFBundleIconFile = icon.png;
    CFBundleIdentifier = "com.brandontreb.inpulse";
    CFBundleInfoDictionaryVersion = 6.0;
    CFBundlePackageType = APPL;
    CFBundleSignature = "????";
    CFBundleSupportedPlatforms = (
	iPhoneOS
    );
    CFBundleVersion = 1.0;
    DTPlatformName = iphoneos;
    DTSDKName = iphoneos5.0;
    LSRequiresIPhoneOS = 1;
    MinimumOSVersion = 5.0;
}
