Package: com.brandontreb.inpulsedaemon
Name: inPulseDaemon
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: Brandon Trebitowski
Author: Brandon Trebitowski
Section: System
Tag: role::hacker
